html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    -webkit-tap-highlight-color: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2px;
    color: black;
    background-color: rgb(77, 107, 172);
}

nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #e9db1c;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #e9db1c;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    line-height: 50px;
    color: #e91c1c
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: inline-block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after, 
.container::after,
.navbar::after {
    clear: both;
    display: table;
    content: "";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 1% auto;
    content: "";
    top: 0;
    Left: 0;
    position: absolute;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*------------------------------------------------------
    VIDEO CONTAINER
------------------------------------------------------*/

.video {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);;
}

.video-container {
    text-align: center;
    margin: 15px auto;
    width: 600px;
    height: 369px;
}

.video-container iframe {
    max-width: 100%;
    width: 600px;
    height: 369px;
}


/*------------------------------------------------------
    HOME SECTION STYLES
------------------------------------------------------*/

#home {
    background: url(../Images/Top_Image/top_image_1.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px; 
    color: #ff0000;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: #df1111;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double #dfd111;
    padding: 10px
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last{
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*------------------------------------------------------
    CONTACT STYLES
------------------------------------------------------*/
.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.flex-container-video{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(255, 166, 0, 0.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#contact{
    background-color: #888888;
    border-color: #000;
    border-radius: 10px;
    border: 10px;
}

.reservation {
    width: 60%;
    padding: 50px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 40px;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
}

.reservation .rsvp-text {
    color: white;
}

.heading-padding {
    padding-top: 35px;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, .8)
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover{
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background: #797a7b;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d8e8f;
    box-shadow: inset 1px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------
    FOOTER STYLES
------------------------------------------------------*/
#footer {
    background-color: rgba(100, 65, 0, .3);
    color: #000;
    text-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

/*------------------------------------------------------
    @MEDIA STYLES
------------------------------------------------------*/

@media all and (max-width: 640px) and (min-width: 381px) {
    .head-main {
        font-size: 28px;
    }
}

@media all and (max-width: 381px) and (min-width: 200px) {
    .head-main {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1170px;
    }
}

/*------------------------------------------------------
    MENU SELECTION ANIMATION   
------------------------------------------------------*/

.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 1% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9D9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    /*background-color: #052136*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.664);
}

.menu #buy li:hover {
    color:white;
    background-color: rgb(44, 218, 96);
}

/*------------------------------------------------------
    GALLERY SECTION ANIMATION  
------------------------------------------------------*/

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);;
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.white-head {
    color: #C9BDAA;
    margin-top: 5%;
}

/*------------------------------------------------------
    PHOTO OVERLAY TRANSITIONS
------------------------------------------------------*/

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}